form {
    box-sizing: border-box;
    font-size: 0;
}

form input,
form button {
    padding: 0.5rem;
    font-size: 2rem;
    border: none;
    background: white;
    font-size: 1.8rem;

}

form input {
    width: 500px;
    height: 45px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    padding-left: 2rem;
}

input::placeholder {
    color: rgb(158, 158, 158);
}


form button {
    background-color: rgb(0, 0, 0);
    color: white;
    padding-left: 13px;
    padding-right: 13px;
    height: 45px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;


    i {
        padding-right: 8px;
    }
}