@media only screen and (max-width: 875px) {

    .main-header {
        min-height: 20vh;
        display: flex;
    }



    #logo {
        grid-column: 1/2;
        grid-row: 1/2;

    }

    .fas {
        grid-column: 3/4;
        grid-row: 1/2;
    }

    .add-form {
        grid-column: 1/4;
        grid-row: 2/3;
    }

    form input {
        @include mobileFluid('width', 215, 630);
        @include mobileFluid('font-size', 12, 18);
    }

    form button {
        @include mobileFluid('font-size', 12, 18);
    }
}